{{/* -*- mode: Go -*- */}}

{{if ne .TAGS ""}}
//+build {{.TAGS}}
{{end}}

{{define "elib"}}{{if ne . "elib"}}elib.{{end}}{{end}}

package {{.Package}}

{{if ne .Package "elib"}}
import (
	"github.com/platinasystems/elib"
)
{{end}}

type {{.VecType}} []{{.Type}}

func (p * {{.VecType}}) Resize(n uint) {
	c := {{template "elib" .Package}}Index(cap(*p))
	l := {{template "elib" .Package}}Index(len(*p)) + {{template "elib" .Package}}Index(n)
	if l > c {
		c = {{template "elib" .Package}}NextResizeCap(l)
		q := make([]{{.Type}}, l, c)
		copy(q, *p)
		*p = q
	}
	*p = (*p)[:l]
}

func (p * {{.VecType}}) Validate(i uint) {
	c := {{template "elib" .Package}}Index(cap(*p))
	l := {{template "elib" .Package}}Index(i) + 1
	if l > c {
		c = {{template "elib" .Package}}NextResizeCap(l)
		q := make([]{{.Type}}, l, c)
		copy(q, *p)
		*p = q
	}
	if l > {{template "elib" .Package}}Index(len(*p)) {
		*p = (*p)[:l]
	}
}
